*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    display: block;
    list-style: none;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px, 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.header .logo a {
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: .2s ease;
}

.header .logp a.active{
    color: #fff;
}

.header .burger {
    height: 34px;
    width: 34px;
    position: relative;
    cursor: pointer;
}
.header .burger span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: #000;
    display: block;
    transform: translate(-50%, -50%);
    transition: .2s ease;
}

.header .burger span::before,
.header .burger span::after {
    width: 30px;
    height: 2px;
    background: #000;
    content: '';
    position: absolute;
    display: block;
    transition: .2s ease;
}

.header .burger span::before {
    top: -8px;
}

.header .burger span::after {
    bottom: -8px;
    width: 15px;
    margin-left: 15px;
}

.header .burger.active span{
    background: transparent;
}

.header .burger.active span::before{
    background: #fff;
    transform: rotate(45deg);
    top:0;
}

.header .burger.active span::after{
    background:#fff;
    transform: rotate(-45deg);
    margin-left:0;
    width: 30px;
    bottom: 0;
}
.menu{
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200px);
    transition: .2s ease;
}

.page {
    display: flex;
}

.page-left{
    width: 738px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 45px;
    bottom: 0;
}

.page-left .carousel-cell {
    width: 738px;
}

.page-left .carousel-cell img {
    width: 738px;
    height: 100vh;
    object-fit: cover;
    display: block;

}

.flickity-prev-next-button {
    bottom: 10px;
    top: unset;
    width: 45px;
    height: 45px;
    transition: all .2s ease;
}

.flickity-prev-next-button.next {
    right: 20px;
}

.flickity-prev-next-button.previous {
    left: unset;
    right: 100px;
}

.flickity-prev-next-button .flickity-button-icon {
    width: 45%;
    height: 45%;
    left: 26%;
    top: 26%;
}

.page-right{
    width: 100%;
    padding-left: 738px;
}

.page-right .hero{
    padding: 150px 230px 0;
    display: flex;
    justify-content: space-between;
}

.page-right .hero .title{
    width: calc(100% 100px);
}

.page-right .hero .title h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: normal;
    color: #05100b
}

.page-right .hero .save {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    margin-top: 15px;
    border: 1px solid #05100b;
    cursor: pointer;
    transition: .2s ease;
}

.page-right .hero .save .active{
    background: #05100b;
}

.page-right .hero .save svg{
    width: 20px;
    fill: #05100b;
}

.page-right .hero .save .active svg{
    fill: #fff;
}

.page-right .user-wrapp{
    padding: 50px 0 0 230px;
}

.page-right .user {
    display: flex;
    align-items: center;
}

.page-right .user .img {
    border-radius: 50%;
    overflow: hidden;
}

.page-right .user img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
} 

.page-right .user .bio {
    font-weight: 600;
    padding-left: 20px;
}

.page-right .user .bio a {
   color: 600;
    text-decoration: none;
}

.page-right .text-wrapp{
    padding: 50px 230px;
}

.page-right .text p{
    color: #555;
    line-height: 1.7;
}

.page-right .slidder-wrapp {
    padding-left: 230px;
}

.page-right .slidder-item{
    width: ;
}

.page-right .slidder-item img{
    display: block;
    width: 350px;
    height: 238px;
    object-fit: cover;
}

